<h1>API Query Test</h1>
<%= form_tag do %>
    <%= label_tag(:content, "Content:") %><br>
    <%= text_area_tag(:content) %><br>
    <%= submit_tag("Submit") %>
<% end %> 

<button type="button" class="main-button"><%= link_to "HOME", root_path, :class=>"main-button-text"%></button>
</div> 