<h1>All Classifiers</h1>
<% @classifiers.each do |x| %>
  <p>ID is: <%= x["classifier_id"]%></p>
  <p>URL is: <%= x["url"]%></p>
  <p>Name is: <%= x["name"]%></p>
  <p>Created is: <%= x["created"]%></p>
  <%= link_to "Show", classifiers_show_path(:id => x["classifier_id"]) %> 

   
<% end %> 