<h1>Create a classifier</h1>
<%= form_tag(classifier_create_path, method: :post, data: {confirm: "Are you sure you want to upload this classifier?"}) do %>
    <div class="form-field">
        <%= label_tag(:name, "Classifier Name: ")%>
        <%= text_field_tag(:name)%><br>
    </div>
    <div class="form-field">
        <%= label_tag(:file, "csv file: ", ) %>
        <%= file_field_tag(:file) %><br>
    </div>
        <%= submit_tag("SUBMIT CSV") %>
<% end %> 