<h1>View Classification</h1>

  <p>ID: <%= @classifier["classifier_id"]%></p>
  <p>URL: <%= @classifier["url"]%></p>
  <p>Name: <%= @classifier["name"]%></p>
  <p>Created: <%= @classifier["created"]%></p>
  <p>Status: <%= @classifier["status"]%></p>
  <p>Status description: <%= @classifier["status_description"]%></p> 

  <button type="button" class="main-button"><%= link_to "BACK", classifiers_path, :class=>"main-button-text" %></button>


  <button type="button" class="main-button"><%= link_to "DELETE", classifiers_path(:id => @classifier["classifier_id"]),data: {confirm: "Are you sure you want to delete this classifier?"}, method: :delete, :class=>"main-button-text" %></button>
 
  